/** 
    * Plugin Name: Responsive Posts Widget
    * Plugin URI: http://plugin.bdwebteam.com/responsive-posts-widget
    * Description:
    * Author: Mahabub Hasan
    * Author URI: http://bdwebteam.com/
    * Version: 1.0.1
    * Text Domain: responsive-posts
    * Domain Path: /languages
    * License: MIT License
    * License URI: http://opensource.org/licenses/MIT
*/

.responsive-posts h2.widget-title{
  font-size: 18px;
  color: #f01919;
  text-align: left;
  position: relative;
  margin-bottom: 40px;
  
}
.responsive-posts h2.widget-title:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  left: 5px;
  bottom: -12px;
  height: 1px;
  background: #f01919;
  width: 50%;
  overflow: auto;
}
.responsive-posts h2.widget-title:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -14px;
  height: 1px;
  background: #f01919;
  z-index: 999999;
  width: 50%;
  overflow: auto;
}
h3.responsive-posts-title{
    padding-bottom: 5px;
}
.responsive_posts_details p{
    padding: 0;
    margin: 0 0 5px 0;
}
.poat_item{
    overflow: hidden;
    padding-bottom: 30px;
}
.post_meta{
    font-size: 12px;
   
}
.post-read-more{
    color: #f01919;
    
}
.poat_item > .post-pull-left {
    margin-right: 10px;
}
.post-pull-left {
    float: left ;
}
.poat_item img {
    max-width: 180px;
}
.poat_item img.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.responsive_posts_details{
    overflow: hidden;
}
.entry-meta{
    font-size: 12px;
}

    @media only screen and (max-width: 360px) {
       .poat_item > .post-pull-left{
    float: inherit ;
    margin: 0;
} 
.responsive_posts_details{
    padding-top: 10px;
}
.img-responsive{
    width: 100%;
}
        
    }